<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.npovalyaeva.TeamToDo" android:installLocation="preferExternal">
	<uses-sdk android:targetSdkVersion="27" android:minSdkVersion="21" />
	<application android:label="TeamToDo.Android" android:icon="@mipmap/launcher_foreground"></application>
</manifest>